{% extends "manager.html" %}
{% block title %}Account details{% endblock %}
{% block content %}

        <div class="container right w3-card-4" style="height:80%;">
            <ul class="warnings" style="position:fixed;top:0px;">
            {% if update_success == 'True' %}
                <li id="update_success" class="alert alert-success" role="alert">
                    Seus dados foram atualizados com sucesso.
                    <button style="float:right;" onclick="hide('update_success');">x</button>
                </li>
            {% endif %}
            {% if update_error == 'True' %}
                <li id="update_error" class="alert alert-warning" role="alert">
                    Seus dados não foram atualizados com sucesso. Tente novamente.
                    <button style="float:right;" onclick="hide('update_error');">x</button>
                </li>
            {% endif %}
            {% if update_exception == 'True' %}
                <li id="update_exception" class="alert alert-danger" role="alert">
                    Aconteceu um erro durante a atualização de seus dados. Por favor, tente novamente.
                    <button style="float:right;" onclick="hide('update_exception');">x</button>
                </li>
            {% endif %}
            </ul>
            <div class="flex_div column center">
                <h2>Sua conta</h2>
                <h4>Nome de usuário: {{username}}</h4>
                <br>
                <h4>Data de registro: {{joined_at}}</h4>
                <br>
                <h4>Número de sites registrados: {{n_registered_websites}}</h4>
                <br>
                <div class="tab-header" style="width:300px!important;border-radius:3px;margin-bottom:15px;" onclick="website_details('change_username');">
                    <h4>Editar nome de usuário</h4>
                </div>
                <div id="change_username" style="display:none;margin-top:10px;margin-bottom:20px;">
                    <form action="/update_account/" method="post">
                        <label>Novo nome de usuário: </label> <input name="username" />
                        <button type="submit">Enviar</button>
                    </form>
                </div>
                <div class="tab-header" style="width:300px!important;border-radius:3px;margin-bottom:15px;" onclick="website_details('change_password');">
                    <h4>Editar senha</h4>
                </div>
                <div id="change_password" style="display:none;margin-top:10px;margin-bottom:20px;">
                    <form action="/update_account/" method="post">
                        <label>Nova senha: </label> <input name="password" /> <button type="submit">Enviar</button>
                    </form>
                </div>

                <div class="tab-header" onclick="window.location.href='/delete_account/';" style="color:#ffffff;background-color:#cd5c5c;width:300px!important;border-radius:3px;margin-bottom:15px;">
                    <h4>Excluir conta</h4>
                </div>
            </div>
        </div>
{% endblock %}

