{% extends "manager.html" %}
{% block title %}Add website{% endblock %}

{% block server %}
    {% if server_state %}
    <h4 style="color:#009c00;">Disponível</h4>
    {% endif %}
{% endblock %}

{% block security_check %}{{recent_security_check}}{% endblock %}

{% block content %}
<ul class="warnings" style="position:fixed;top:0px;">
    {% if ip_error == 'True' %}
    <li id="ip_error" class="alert alert-warning" role="alert">
        Insira um nome de domínio válido para análise.
        <button style="float:right;" onclick="hide('ip_error');">x</button>
    </li>
    {% endif %}
    {% for message in form.url.errors %}
        <li class="alert alert-warning" role="alert">
            {{ message }}
        </li>
    {% endfor %}
</ul>

<div class="container right w3-card-4">

    <form class="flex_div column center" method="post" action="{{ url_for('add_website') }}">
        <h2>Registre um novo site para monitoramento</h2>

        {{ form.hidden_tag() }}

        <h4 style="border:none;">{{ form.url.label }}</h4>
        {{ form.url }}

        <br/>
        {{ form.submit }}
    </form>
</div>
{% endblock %}
