<head>
    <link rel="stylesheet" href="../static/style.css">
	<title>Securite - Error</title>
</head>

{% block body %}
<body class="base_page">
  <div id="login-div" class="flex_div column center">
      <img src="../static/logo2.png" class="logo" />
      
      <h2>O usuário ou a senha são inválidos</h2>
      
      <h4 style="border:none;">Possíveis problemas:</h4>
      <tl>
        <dr>Seu usuário e senha devem ter pelo menos 5 caracteres</dr>
      
      </tl>
      
      <a href="/register/" style="text-decoration: none;"><button class="big button">Voltar</button></a>
      
        <hr>
        <br>
  </div>
</body>
{% endblock %}
