<head>
    <link rel="stylesheet" href="../static/style.css">
	<title>Dash</title>
</head>

<body class="base_page" >
  <div class="flex_div column center">
      <img src="../static/logo2.png" class="logo">
      
      <hr />
      <br />
      <br />
      
      <div id="login-div" class="flex_div" style="flex-flow:row wrap;">
          <button class="big button" onclick="window.location.href='/login/'">Login</button>
      </div>
      <h4 style="border:none;">Ou se registre:</h4>
      <a href="/register/" style="text-decoration: none;"><button class="big button">Registrar</button></a>
  </div>
</body>
