<head>
    <link rel="stylesheet" href="../static/style.css">
	<title>Dash</title>
</head>

{% block body %}
<body class="base_page" style="">
  <div id="login-div" class="flex_div column center">
    <img src="../static/logo2.png" class="logo" />
    <hr />
    <br />
    <div class="flex_div column center">
      <form class="flex_div column center" method="post" action="{{ url_for('logged') }}">
        <h4 style="border:none;">Username: </h4>
        <input id=uname-box type=text name=username value="{{request.form.username }}">
        <h4 style="border:none;">Password: </h4>
        <input id=pwd-box type=password name=password>
        <br />
        <input id=login-button class="big button" type=submit value=Login>
      </form>
        <hr />
        <br />
        <h4 style="border:none;">Or enter without logging in:</h4>
        <a href="/notlogged" style="text-decoration:none;"><button class="big button">Enter</button></a>
        
        <br />
        <br />
        <a href="/register" style="text-decoration:none;"><button class="big button">Register</button></a>
  </div>
</body>
{% endblock %}
