<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/style.css">
        <script src="../static/functions.js" type="text/javascript"></script>
    </head>

    {% block body %}
    <body class="base_page" style="">
    <ul class="warnings" style="position:fixed;top:0px;">
        {% if not_logged == 'True' %}
        <li id="not_logged" class="alert alert-warning" role="alert">
            <b>Oops.</b> Você não está logado, por favor insira seu nome de usuário e senha para entrar no sistema.
            <button style="float:right;" onclick="hide('not_logged');">x</button>
        </li>
        {% endif %}
        {% if login_error == 'True' %}
        <li id="login_error" class="alert alert-warning" role="alert">
            Seu nome de usuário ou senha estão incorretos. Por favor, tente novamente.
            <button style="float:right;" onclick="hide('login_error');">x</button>
        </li>
        {% endif %}
        {% if login_exception == 'True' %}
        <li id="login_exception" class="alert alert-danger" role="alert">
            Houve um erro durante sua tentativa de login. Por favor, tente novamente.
            <button style="float:right;" onclick="hide('login_exception');">x</button>
        </li>
        {% endif %}
        {% if register_successful == 'True' %}
        <li id="register_successful" class="alert alert-success" role="alert">
            Você está registrado e pode entrar em Securite agora!
            <button style="float:right;" onclick="hide('register_successful');">x</button>
        </li>
        {% endif %}
        {% if delete_exception == 'True' %}
        <li id="delete_exception" class="alert alert-danger" role="alert">
            Ocorreu um erro na exclusão de sua conta. Por favor, tente novamente.
            <button style="float:right;" onclick="hide('delete_exception');">x</button>
        </li>
        {% endif %}
        {% if account_deleted == 'True' %}
        <li id="account_deleted" class="alert alert-success" role="alert">
            Sua conta foi excluída com sucesso. Se tiver interesse em entrar novamente, se registre novamente!
            <button style="float:right;" onclick="hide('account_deleted');">x</button>
        </li>
        {% endif %}
        {% for message in form.username.errors %}
        <li class="alert alert-warning" role="alert">
            {{ message }}
        </li>
        {% endfor %}
        {% for message in form.password.errors %}
        <li class="alert alert-warning" role="alert">
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    <div id="login-div" class="flex_div column center">
        <img src="../static/logo2.png" class="logo"/>
        <hr/>
        <br/>
        <div class="flex_div column center">
            <form class="flex_div column center" method="post" action="{{ url_for('login') }}">
                {{ form.hidden_tag() }}

                <h4 style="border:none;">{{ form.username.label }}</h4>
                {{ form.username }}
                <h4 style="border:none;">{{ form.password.label }}</h4>
                {{ form.password }}
                <br/>
                {{ form.submit }}
            </form>
            <hr/>
            <br/>

            <br/>
            <br/>
            <button class="big button" onclick="window.location.href='/register/'">Register</button>
        </div>
    </body>
    {% endblock %}
</html>