{% extends "manager.html" %}
{% block title %}Manage websites{% endblock %}

{% block server %}
    {% if server_state %}
    <h4 style="color:#009c00;">Disponível</h4>
    {% endif %}
{% endblock %}

{% block security_check %}{{recent_security_check}}{% endblock %}

{% block content %}

    <div class="container right">
        <ul class="warnings" style="position:fixed;top:0px;">
        {% if add_error == 'True' %}
            <li id="add_error" class="alert alert-warning" role="alert">
                Ocorreu um erro durante a adição do site requerido. Por favor, tente adicioná-lo novamente.
                <button style="float:right;" onclick="hide('add_error');">x</button>
            </li>
        {% endif %}
        {% if already_registered == 'True' %}
            <li id="already_registered" class="alert alert-success" role="alert">
                O site já foi registrado, mas agora está adicionado à sua lista também!
                <button style="float:right;" onclick="hide('already_registered');">x</button>
            </li>
        {% endif %}
        {% if add_success == 'True' %}
            <li id="add_success" class="alert alert-success" role="alert">
                O site requerido foi adicionado com sucesso!
                <button style="float:right;" onclick="hide('add_success');">x</button>
            </li>
        {% endif %}
        </ul>
        <ul class="w3-ul w3-card-4">
        {% for website in websites %}
            <li class="w3-bar" onclick="window.location.href='/reports/{{website[3]}}';">
                <a class="report-icon" href="/reports/{{website[3]}}"></a>
                <div class="w3-bar-item" style="padding:0!important">
                    <h4 style="background-color:lightblue;">{{website[1]}}</h4>
                </div>
                {% if website[2] == none %}
                <h4 class="alert alert-info" style='font-size:12px;font-family:"Raleway";width:250px;padding:0rem 1.25rem;'>Ainda não foi escaneado</h4>
                {% else %}
                <h4 class="alert alert-info" style='font-size:12px;font-family:"Raleway";width:250px;padding:0rem 1.25rem;'>Atualizado em {{website[2]}}</h4>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
